[user]
	name = Aung Yee
	email = lyndon.lso@gmail.com
[merge]
	conflictStyle = diff3
[magit]
	hideCampaign = true
[init]
	defaultBranch = main
[alias]
	show-graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	sg = log --oneline --graph --all

